/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Header */
  h1, h2 {
    color: #bb86fc;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Inputs and Labels */
  label, input, select {
    margin: 10px 0;
    font-size: 1rem;
    color: #ffffff;
    background-color: #1e1e1e;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  /* Buttons */
  button {
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #3700b3;
    color: #ffffff;
  }
  
  /* Sliders */
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: #333333;
    height: 5px;
    border-radius: 5px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    height: 15px;
    width: 15px;
    background: #bb86fc;
    border-radius: 50%;
    cursor: pointer;  
  }
  
  /* Containers */
  #sequenceContainer,
  #rhythm-container {
    background-color: #1e1e1e;
    border: 1px solid #333333;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    width: 90%;
    text-align: center;
  }
  #notesDisplay, #sequenceDisplay {
    color: #bb86fc;
    
  }
  .availableNotesContainer{
    max-width: 70%;
    align-items: center;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
  }
  
  #bpmSlider {
    width: 1000%;
  }
  
  /* Dark Theme Adjustments */
  select, input[type="number"] {
    text-align: center;
  }
  
  #octaveSelector {
    width: 50px;
  }
  
  /* Buttons in a grid */
  button {
    width: 90%;
  }
  
  @media (min-width: 768px) {
    div {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
    
    button {
      width: auto;
      padding: 10px 20px;
    }
  }
  
/* Modal Styles */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8); /* Black with opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #1e1e1e;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #333333;
  width: 80%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
}

#sequenceDisplay {
  color: #bb86fc;
}

/* Close button (big and visible) */
.close {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #3700b3;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.close:hover {
  background-color: #bb86fc;
}

/* Button Styles for Modal */
button {
  background-color: #bb86fc;
  color: #121212;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  margin: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3700b3;
  color: #ffffff;
}



/*escala adaptable*/
.piano {
  display: flex;
}

.tecla {
  width: 40px;
  height: 150px;
  margin: 2px;
  cursor: pointer;
  border: 1px solid black; /* Mantener los bordes de las teclas */
}

.blanca {
  background-color: white;
  z-index: 1;
  color: black; 
}

.negra {
  background-color: #333; /* Color más oscuro para las teclas negras */
  width: 30px;
  height: 100px;
  margin-left: -15px;
  z-index: 2;
  border: 1px solid black; /* Mantener el borde */
}

.presionada {
  background-color: #ffcc00;
}